.*
src
test
node_modules
coverage
example
node_cache/*
test
test-results
playwright-report
readme/*
!dist/*
!build/**/*
tests/
vite.config.ts
vitest.config.ts
renovate.json
playwright.config.ts
build/esm/test
